@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zen Dots", sans-serif;
    font-style: normal;
}


header {
    display: flex;
    flex-direction: column;
    background-color: #012034;
    width: 100%;
}

.brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #012034;
    width: 100%;
    padding: 0.5% 1% 0.5% 1%;
}

#logo-header {
    border-radius: 100%;
    height: 3.5em;
}

.title-header {
    color: white;
    font-size: 2em;
    color: #FF9100;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #27829D;
    width: 100%;
    height: 4vh;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    height: 100%;
    text-align: center;
    line-height: 4vh;
    padding: 0 1%;
    cursor: pointer;
}

nav a:hover {
    background-color: #A2CADA;
    color: black;
}

nav a:focus {
    background-color: #A2CADA;
    color: black;
}

.home {
    background-image: url('./resources/BackgroundHome.png');
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.home-content {
    width: 100%;
    height: 100%;
    background-color: rgba(1, 32, 52, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
    margin-top: 10vh;
    box-shadow: 4px 4px 4px #000000;
}

.title {
    color: #A2CADA;
    font-size: 4em;
    margin-top: 1vh;
    text-shadow: 3px 3px 3px #000000;
}

.slogan {
    color: #A2CADA;
    font-size: 2em;
    margin-top: 1vh;
    text-shadow: 3px 3px 3px #000000;
}

.register-btn {
    background-color: #FF9100;
    color: black;
    font-size: 1.5em;
    font-weight: semi-bold;
    padding: 1%;
    margin-top: 1vh;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #ffb75a;
    color: black;
    font-size: 2em;
}

.services {
    background-color: #012034;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services-title {
    color: #A2CADA;
    font-size: 2.5em;
    margin-top: 5vh;
}


.service-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2%;
    padding: 1% 2%;
    background-color: #27829D;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #000000;
    width: 30vw;
    height: 50vh;
}

.service p {
    padding-top: 2%;
    font-size: 1rem;
}

.service-img {
    height: 25vh;
    width: 15vw;
}

.experiences {
    background-color: #012034;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiences-title {
    color: #A2CADA;
    font-size: 2.5em;
    margin-top: 5vh;
}

.experience-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2%;
    padding: 2%;
    background-color: #27829D;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #000000;
    width: 30vw;
    height: 60vh;
}

.experience-img {
    height: 25vh;
    width: 12vw;
    border-radius: 100%;
    border: 5px solid #FF9100;
}

.opinion {
    padding-top: 5%;
    font-size: .9rem;
}

.person {
    padding-top: 8%;

}

footer {
    background-color: #012034;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.footer-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.footer-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

#logo-footer {
    height: 6em;
    width: 6em;
    border-radius: 100%;
}

#title-footer {
    font-size: 2em;
    color: #FF9100;
    padding-top: 5%;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 1em;
    color: #A2CADA;
    padding-top: 5%;
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 25vh;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 150%;

}

.socialmedia-icon {
    height: 5vh;
    width: 2vw;
    margin: 0 1%;
}

.socialmedia-link {
    color: #A2CADA;
    font-size: 1em;
    text-decoration: none;
}

#scroll-btn {
    position: fixed;
    bottom: 2%;
    right: 1%;
    background-color: #FF9100;
    color: black;
    border: none;
    border-radius: 100%;
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    display: none;
}

#scroll-btn:hover {
    background-color: #ffb75a;
    color: black;
}

#scroll-img {
    height: 7.5vh;
    width: 4.5vw;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #012034bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0vh);
    --transition: transform .8s .8s
}

.modal-container {
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    border-radius: 10px;
    padding: 3em 2.5em;
    margin: auto;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-template-columns: 100%;
    background-color: #27829D;
    color: #012034;
    transform: var(--transform);
    transition: var(--transition);
}

.form-title {
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2em;
    margin-top: 1vh;
    text-align: left;
    width: 100%;
}

input {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 10vh;
    border-radius: 5px;
    margin-bottom: 3vh;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.form-btn {
    color: black;
    font-size: 1.3em;
    padding: 1% 2%;
    margin-top: 2vh;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    width: 30%;
}

#submit-btn {
    background-color: #FF9100;
    color: black;
}

#submit-btn:hover {
    background-color: #ffb75a;
    color: black;
}

#cancel-btn {
    background-color: #A2CADA;
    color: black;
}

@media (max-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 8vh;
    }

    #logo-header {
        height: 5vh;
        margin-left: 3%;
    }

    .title-header {
        display: none;
    }

    .title {
        font-size: 3em;
    }

    .slogan {
        text-align: center;
        font-size: 1.5em;
    }

    .register-btn {
        font-size: 1.2em;
    }

    .register-btn:hover {
        font-size: 1.5em;
    }

    .services {
        height: 125vh;
    }

    .services-title {
        font-size: 2em;
        margin-top: 3vh;
    }

    .service-content {
        display: grid;
        gap: 1em;
        grid-template-columns: 100%;
        place-items: center;
        margin-top: 3vh;
    }

    .service {
        width: 70%;
        height: 36vh;
    }

    .service p {
        font-size: .9rem;
    }

    .service-img {
        height: 20vh;
        width: 60%;
    }

    .experiences {
        height: 125vh;
    }

    .experiences-title {
        font-size: 2em;
        margin-top: 2vh;
    }

    .experience-content {
        display: grid;
        gap: 1em;
        grid-template-columns: 100%;
        place-items: center;
        margin-top: 3vh;
    }

    .experience {
        width: 70%;
        height: 35vh;
    }

    .experience-img {
        height: 15vh;
        width: 40%;
    }

    .opinion {
        font-size: .9rem;
    }
}